 name="OSDescription">
        <xsl:value-of select="asmv1:dependency/asmv2:dependentOS/@description|asmv2:dependency/asmv2:dependentOS/@description"/>
    </xsl:attribute>
    <xsl:attribute name="Product">
      <xsl:value-of select="asmv1:description/@asmv2:product"/>
    </xsl:attribute>
    <xsl:attribute name="Publisher">
      <xsl:value-of select="asmv1:description/@asmv2:publisher"/>
    </xsl:attribute>
    <xsl:attribute name="SuiteName">
        <xsl:value-of select="asmv1:description/@co.v1:suiteName"/>
    </xsl:attribute>
    <xsl:attribute name="SupportUrl">
        <xsl:value-of select="asmv1:description/@asmv2:supportUrl"/>
    </xsl:attribute>
    <xsl:attribute name="UseApplicationTrust">
      <xsl:choose>
        <xsl:when test="co.v1:useManifestForTrust">
          <xsl:text>true</xsl:text>
        </xsl:when>
        <xsl:otherwise>
          <xsl:text>false</xsl:text>
        </xsl:otherwise>
      </xsl:choose>
    </xsl:attribute>
</xsl:attribute-set>


<!-- AssemblyManifest Attributes -->
<xsl:attribute-set name="assembly-manifest-attributes">
    <xsl:attribute name="Description">
        <xsl:value-of select="asmv1:description/text()"/>
    </xsl:attribute>
</xsl:attribute-set>


<!-- Manifest Type -->
<xsl:template match="asmv1:assembly">
    <xsl:choose>

        <!-- DeployManifest if document has a <deployment> element -->
        <xsl:when test="$manifest-type='DeployManifest' or count(asmv2:deployment)>0">
            <xsl:element name="DeployManifest" use-attribute-sets="deploy-manifest-attributes" namespace="">
                <xsl:call-template name="base-assembly"/>
                <xsl: